<div id="responsive-menu">
    <ul class="menu-holder">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#services"><i class="fa fa-cogs"></i>Services</a></li>
        <li><a href="#products"><i class="fa fa-list"></i>Products</a></li>
        <li><a href="#video"><i class="fa fa-list"></i>Video</a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i>Contact</a></li>
    </ul>
</div>

<!-- HEADER -->
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="menu-holder">
                <div class="col-md-3 col-sm-2 logo">
                    <a routerLink="/" title="Maskoteka">
                        <img src="assets/landing/images/logo-1.jpg" alt="Makoteka" width="50" height="50" class="me-3">
                        <!-- <img src="assets/landing/images/templatemo-logo.png" alt="templatemo 420 ocean"> -->
                        <div class="logo-text">
                            <span class="brand-name">Maskoteka</span>
                            <small>Clínica Veterinaria</small>
                        </div>
                    </a>
                </div>
                <div class="col-md-5 col-sm-5">
                    <nav class="main-menu hidden-xs">
                        <ul>
                            <li><a routerLink="/">Inicio</a></li>
                            <li><a href="#services">Servicios</a></li>
                            <li><a href="#about">Nosotros</a></li>
                            <li><a href="#contact">Contacto</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-2 col-sm-2 auth-buttons">
                    <a href="/login" class="btn btn-login">Iniciar sesión</a>
                    <!-- <a href="/register" class="btn-register">Registro</a> -->
                </div>
                <div class="col-md-2 col-sm-2">
                    <ul class="social-top">
                        <li><a href="#"><i class="fa fa-facebook"></i><span class="hidden-xs">Facebook</span></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i><span class="hidden-xs">Twitter</span></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i><span class="hidden-xs">Instagram</span></a></li>
                    </ul>
                </div>
            </div>


            <div class="text-right visible-xs">
                <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
            </div>
        </div>
    </div>
</header> <!-- .site-header -->
