<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <p>Copyright &copy; 2084 Your Company Name</p>
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</footer> <!-- .site-footer -->

<script src="assets/landing/js/vendor/jquery-1.10.1.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/landing/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="assets/landing/js/bootstrap.min.js"></script>
<script src="assets/landing/js/plugins.js"></script>
<script src="assets/landing/js/templatemo_custom.js"></script>